* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  margin: 0;
  font-family: 'Lexend', sans-serif;
  align-items: center;
  justify-content: center;
  background: url(images/background.png);
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto;
  width: 110rem;
}

nav img {
  max-width: 8rem;
  max-height: 8rem;
  width: auto;
  height: auto;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}

nav ul li {
  font-family: 'Lexend', sans-serif;
  font-size: 1.25rem;
  padding: 1rem;
}

nav li:nth-child(4) {
  font-family: 'Lexend', sans-serif;
  font-size: 1.25rem;
  background: #DFF348;
  border-radius: 44px;
  padding: 1rem;
}

#greets a { 
  text-decoration: none;
}

#greets {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: #8338EC;
  box-shadow: 0px 0px 134px rgba(0, 0, 0, 0.2);
  border-radius: 65px;
  margin: 2.4rem auto;
  gap: 2.5rem;
  width: 120rem;
}

#greets img {
    max-width: 100rem;
    max-height: 50rem;
    width: auto;
    height: auto;
}

#greets h1 {
  font-weight: 600;
  font-size: 4.7rem;
  line-height: 5.5rem;
  color: white;
  margin: 0 0 5rem 10rem;
}

#greets p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  color: white;
  margin: 0 0 5rem 10rem;
}

#greets h2 {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
  color: black;
  text-decoration: none;
}

#greets h3 {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2rem;
  color: white;  
}

#signIn {
 background: #DFF348;
 border-radius: 44px;
 font-family: 'Lexend', sans-serif;
 width: 16rem;
 height: 4rem;
 margin: 0 2.5rem 0 10rem;
 border-color: #DFF348;
 box-shadow: -.4rem .4rem white;
 text-decoration: none;
 border: 0px;
}

#logIn {
  background: #8338EC;
  border-radius: 44px;
  width: 16rem;
  height: 4rem;
  border-color: white;
  font-family: 'Lexend', sans-serif;
  }

.features {
  display: grid;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
}

.features img {
  margin: auto;
}

#features h1 {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #8338EC;
  margin: 1.8rem 0 1.8rem 0;
}

#features p {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #797979;
}

#features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #DFF348;
  border-radius: 44px;
  margin: 12.2rem auto;
  width: 110rem;
}

#features ul li {
  list-style: none;
  gap: 9.5rem;
}

#features img { 
  max-width: 5rem;
  max-height: 5rem;
  width: auto;
  height: auto;
}

#cats img, #dogs img {
  max-width: 80rem;
  max-height: 40rem;
  width: auto;
  height: auto;
}

#cats ul img, #dogs ul img {
  max-width: 5rem;
  max-height: 5rem;
  width: auto;
  height: auto;
}

#cats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12.6rem;
  gap: 10rem;
}

#dogs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-top: 12.6rem;
  gap: 10rem;
}

#cats h1, #dogs h1 {
  color: #8338EC;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}

#cats p, #dogs p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #797979;
  margin-bottom: 3.5rem;
}

#cats ul {
  display: flex;
  justify-content: start;
  gap: 2.5rem;
  align-items: center;
  list-style: none;
}

#dogs ul {
  display: flex;
  justify-content: end;
  gap: 2.5rem;
  align-items: center;
  list-style: none;
}

#contact {
  display: grid;
  justify-content: center;
  align-items: center;
  background: #8338EC;
  border-radius: 44px;
  margin: 6.3rem auto;
  max-width: 400rem;
  width: 90rem;
}

#contact h1{
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 31px;
  color: white;
  margin: 2.5rem 0 2.5rem 0;
  text-align: center;
} 

#contact h2 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 20px;
  color: white;
  margin-bottom: 2.5rem;
  text-align: center;
}

#contact button {
  background: #DFF348;
  border-radius: 44px;
  width: 25rem;
  height: 4rem;
  margin: 0 0 2.5rem 9rem;
  border-color: #DFF348;
  border: 0px;
  box-shadow: -.5rem .4rem white;
  text-decoration: none;
}

#contact h3 {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 20px;
  color: black;
  text-decoration: none;
 }

 #contact a {
  text-decoration: none;
 }

footer {
  display: flex;
  justify-content: space-around;
  align-items:center;
  background: #DFF348;
  margin-top: 8rem;
  padding: 10rem;
  height: 10rem;
  width: 140rem;
}

footer img {
  max-width: 8rem;
  max-height: 8rem;
  width: auto;
  height: auto;
}

footer h1 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 20px;
  color: #797979;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

footer a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 12.5px;
  color: #797979;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

#trademark {
  margin-top: 4.5rem;

}

footer p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 12.5px;
  color: #797979;
  text-align: end;
}

footer ul {
  display: grid;
  align-items: center;
  text-align: start;
  gap: 1rem;
  text-decoration: none;
}